{% extends "index.html" %}
{% block body %}
<head>
    <title>Applicant Login</title>
</head>

{% include "menu.html" %}
<form method="post" action="" >
    <h2>Applicant Login</h2>

    <label for="app_code">Application code</label>
    <p><input id="story_title" name="app_code" size="45" required></p>
    <label for="application_email">Application email</label>
    <p><input id="application_email" name="application_email" type="text" size="45" required></p>
    <input type="submit" value="Login">
</form>
{% endblock %}
