{% extends "index.html" %}
{% block body %}

<meta charset="utf-8">
<title>l4me</title>

{% include "menu.html" %}

<form method="post", action="" >
    <h2>Please fill in the form to apply</h2>

    <label for="first_name">First name:<p><input id="first_name" name="first_name"
                                                 type="text" size="45" required value="{{applicant.first_name}}"></p></label>
    <label for="last_name">Last name:<p><input id="last_name" name="last_name"
                                               type="text" size="45" required value="{{applicant.last_name}}"></p></label>
    <label for="location">Location:<p><input id="location" name="location"
                                             type="text" size="45" required value="{{applicant.location}}"></p></label>
    <label for="real_email">Email<p><input id="real_email" name="real_email"
                                           type="email" size="45" required></p></label>

    <p><input type="submit" value="Apply"> </p>


{% endblock %}
