<head>
    <title>Applicant Login</title>
</head>
<body>
    {%- extends "index.html" %}
    {% block body %}
    <form method="post", action="" >
        <div class="container">
            <h1>Applicant Login</h1>

            <div class="form-group">
                <label for="app_code">Application code</label>
                <p><input id="story_title" class="form-control" name="app_code" type="text" size="45" required></p>
            </div>
            <div class="form-group">
                <label for="application_email">Application email</label>
                <p><input id="application_email" class="form-control" name="application_email" type="text" size="45" required></p>
            </div>
            <button type="submit" class="btn btn-default">LOGIN</button>


    {% endblock %}
